views/bicicletas/create.pug
// Form
.form
    .form-toggle
    .form-panel.one
        .form-header
            h1 Registro de Bicicletas
        .form-content
            form(action='/bicicletas/create' method='post')
                .form-group
                    label(for="id") ID
                    input#username(type='text' name="id")
                .form-group
                    label(for="color") Color
                    input#password(type="text" name="color")
                .form-group
                    label(for="modelo") Modelo
                    input#username(type="text" name="modelo")
                .form-group
                    label(for="ubicacion") Ubicacion
                    input#password(type="text" name="lat")
                    input#password(type="text" name="long")

                .form-group
                     input.btn(type="submit" value='Crear') 
                     
link(rel='stylesheet' href='/stylesheets/crear.css')  
script(src='javascript/js.js')

views/bicicletas/dist/create.html

<!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Registro de Bicicletas</h1>
    </div>
    <div class="form-content">
      <form action="/bicicletas/create" method="post">
        <div class="form-group">
          <label for="id">ID</label>
          <input id="username" type="text" name="id"/>
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input id="password" type="text" name="color"/>
        </div>
        <div class="form-group">
          <label for="modelo">Modelo</label>
          <input id="username" type="text" name="modelo"/>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input id="password" type="text" name="lat"/>
          <input id="password" type="text" name="long"/>
        </div>
        <div class="form-group">
          <input class="btn" type="submit" value="Crear"/>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/stylesheets/crear.css"/>
<script src="javascript/js.js"></script>
